# ----------------------------------------------------------------
#  Acessos | Base_URL | Relatórios
# ----------------------------------------------------------------

BASE_URL=http://lojaebac.ebaconline.art.br
NAME=name
USERFULL=nemail
PASSWORD =senha
# ----------------------------------------------------------------
#  Tesults
# ----------------------------------------------------------------
TOKEN = token do tesults se quiserso usar, caso contrário, pode deixar em branco